
  
      .navbar {
    z-index:8;
    overflow: hidden;
    background-color: #b86b6b;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

    @font-face {
        font-family: newFont2;
        src: url(RubikFont.ttf);
      }
      h2{

        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        font-weight: 100;
        padding-top: 8em;
        color: rgb(114, 115, 116);
        
      }
      
      .salad{
        /* background-color: rgb(169, 134, 235); */
        max-width: 100%;
        height: auto;
        width:220px;
        margin-right:2em;
     }
      .navigation{
        margin: 40px;
        overflow:hidden;
        word-spacing:1.7em;
        font-family:newFont2;
      
    }
    .navigation a{ position: relative;
        top: 0.7em;
        color: rgb(66, 151, 177);
        position: relative;
        vertical-align: top;
        font-size: 1em;
       line-height: 2em;
        text-decoration: none;
    }
    .navigation a:hover{
        color: rgb(8, 135, 151);
        
    }

  *, *:before, *:after {
    
    margin:0;
    padding:0;
    box-sizing: border-box;

  }
  h1{
    font-size: 50px;
    text-align: center;
   
    padding: 40px 40px;
font-family: newFont2;
  }
  .container{
    background-color: rgb(8, 135, 151);
    width: 100%;
    
  }
  .content{
    /* background-color: rgb(189, 238, 12); */
    position: relative;
   
    max-width:25%;
    height: auto;
   
    margin: -2px 0px;
    float: left;
    overflow: hidden;
    cursor: pointer;
   
    
    
  }
  img{

    max-width: 100%;
    height: auto;
  
    
  }
  .content .text-overlay{
    background: linear-gradient(-50deg, #7670f1bb, #06609cc4 );
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .content:hover .text-overlay{
    opacity: 1;
  }
  .text-details{
position: absolute;
width: 100%;
top:80%;
left:50%;
text-align: center;
padding: 0 16px;
opacity: 0;
transform: translate(-50%, -50%) rotateY(150deg);
transition: all 0.5s ease-in-out;
  }
  .content:hover .text-details{
    top:50%;
    left:50%;
    opacity: 1;
    transform: translate(-50%, -50%) rotateY(0deg);

  }
  .text-title {
    color: #ce4a4a;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: newFont2;
    letter-spacing: 1px;
  }
  .text{
    color:#fff;
    font-size: 16px;
    padding:0 3px;
    line-height: 25px;
    font-family: newFont2;
  }


@media only screen and (min-width: 1520px){

  .content{
   width:317px;
  
  }
  }
 @media only screen and (max-width: 550px) {

  img{
   
    max-width: 100%;
    height: auto;
  margin: 0px 0px;
  }

    h1{
        font-size: 25px;
    }
    .content{
      /* background-color: #ce4a4a; */
        max-width:48%;
        height: auto;
        margin: 0% 1%;
       
    }
    .navigation{
      width:90%;
    }
.salad{
  margin-right:32em;
}
.content .text-overlay{
 display: none;
}
.content:hover .text-overlay{
  display: none;
}
.text-details{
  display: none;
}
.content:hover .text-details{
  display: none;

}
.text-title {
  display: none;
}
.text{
  display: none;
}
 }
 

