html, body{
    background-color: rgb(218, 214, 211);
}
@font-face {
  font-family: newFont2;
  src: url(RubikFont.ttf);
}
.copyright{
position: absolute;
left:0;
bottom:0;
}

p{  
        color: rgb(121, 102, 77);
              font-family: newFont2;
              /* padding-bottom:120px; */
}

@media screen and (max-width: 760px){
  .navigation{
    display: none;
  }

  
  .linksIcons{
    position: relative;
    color: rgb(73, 40, 21);
    font-size: 1.4em;
    margin-right: 20px;
    }
  
    .links{ 
      /* background-color: rgba(75, 194, 75, 0.685); */
      
      flex-wrap: wrap;
      display: grid;
    grid-template-columns: 0fr 0fr; 
    }


  .modal-container{
    position: relative;
    overflow: auto;
 
   
    z-index: 3;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  
  opacity:0;
  pointer-events: none;
  
  transition: opacity 0.3s ease;
 
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  }
  button{
   
    position: relative;
    float: right;
    margin-top:0.4em;
    padding-top: 0.24em;
    font-size: 1.6em;
    border-radius: 6px;
    background-color:rgb(255, 255, 255);
    border-color: rgb(168, 154, 145);
    color:rgb(168, 154, 145);
    text-decoration: none;
    cursor: pointer;
    font-family: newFont2;
   
}
.modal a.active {
    
  color: rgb(126, 118, 113);
}

.modal_container{

  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width:100vw;
  
}
.modal{

  background-color: rgb(253, 253, 252);
 
  padding-right:1.4em;
padding-top:1.7em;
  height: 100%;
 width: 100%;
  text-align: center;



}
a{
  line-height: 2.6em;
 width:100%;
  color:rgb(168, 154, 145);
  font-size: 1.7em;
  font-family: newFont2;
  position: relative;
  display: flex;
  text-decoration: none;
  justify-content: center;
  text-align: center;
}
.modal-container.show{
  opacity:1;
  pointer-events: auto;
  
}




  .container{
  
    position: relative;
    margin: 0.9em;
    background-color: rgba(112, 112, 182, 0);
  }

h2{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: 100;
   
    color: rgb(114, 115, 116);
    
}
img{
  position: relative;
margin-top: 80px;
max-width: 300px;

}

p{
  line-height: 1.5em;
  padding-bottom:50px;
}

}


@media screen and (min-width: 761px){
  .linksIcons{
    position: relative;
    color: rgb(73, 40, 21);
    font-size: 2em;
    margin-right: 20px;
    top:-20px;
    }
  
    .links{ 
      /* background-color: rgba(75, 194, 75, 0.685); */
      
      flex-wrap: wrap;
      display: grid;
    grid-template-columns: 0fr 0fr; 
    }

  .navigation a.active {
    border-radius: 2px;
    color: rgb(255, 255, 255);
  }
  button{
      display: none;
  }
  .modal-container{
      display: none;
  }

  .navigation{
      text-align: center;
      padding: 20px 0px ;
      overflow:hidden;
     
      font-family:newFont2;
  }
  .navigation a{
      color: rgb(153, 132, 118);
      position: relative;
     
     line-height: 2em;
      padding: 3px 15px;
      text-decoration: none;
  }
  .navigation a:hover{
    transition: ease-in 0.3s;
    background-color: rgba(255, 255, 255, 0.411);
    
    color: rgb(170, 158, 148);
    border-radius: 4px;
  }
  .container{
    
  margin: auto;
    vertical-align: middle;
    max-width: 794px;
      overflow: hidden;
      position: relative;
      background-color: rgba(97, 97, 112, 0);
  }

h2{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: 100;
    padding-top: 8em;
    color: rgb(114, 115, 116);
    
}
img{
position: relative;
padding-bottom:120px;
max-width:400px;
height: auto;
}
.row {
display: flex;
flex-wrap: wrap;
padding-top: 2em;
}
.column {
  
flex: 33%;
max-width: 100%;
padding-left: 20px;
}
p{
line-height: 1.6em;
  padding-bottom:120px;
}
}













 





