
html, body{
   background-color: rgb(218, 214, 211);
}
@font-face {
  font-family: newFont2;
  src: url(RubikFont.ttf);
}

h3{
font-family: newFont2; 
 font-size: 2em;
  color: rgb(75, 46, 10);
  text-align: center;
}


.row {
  display: flex;
  flex-wrap: wrap;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}

img{
  max-width: 100%;
  height: auto;

}



#myImg {
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal2 {
  
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(19, 19, 19, 0.767);
  /* Fallback color */
  background-color: rgba(19, 19, 19, 0.767);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 95%;
  /* max-width: 700px; */
}



@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close2 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}






@media screen and (max-width: 760px){
  .row{
    /* background-color: aquamarine; */
    margin: 0 10px;
    
  }
  .left { margin-right:5px;
    float: left;
    width: 49%;
}
.right {
    float: right;
    width: 49%;
}
.group:after {
    content:"";
    display: table;
    clear: both;
}




.container{
    position: relative;
    overflow: auto;
    
    background-color: rgba(203, 203, 204, 0.747);
}
.containerButton{
  padding-bottom: 20%;
  margin: 0.9em;
  background-color: rgba(75, 75, 211, 0);
}
button{
    position: relative;
    float: right;
    margin-top:0.4em;
    padding-top: 0.24em;
    font-size: 1.6em;
    border-radius: 6px;
    background-color:rgb(255, 255, 255);
    border-color: rgb(168, 154, 145);
    color:rgb(168, 154, 145);
    text-decoration: none;
    cursor: pointer;
    font-family: newFont2;
   
}



  .navigation{
    display: none;
  }
  .modal a.active {
    
    color: rgb(126, 118, 113);
  }

  .modal_container{

    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width:100vw;
    
  }
  .modal{
  
    background-color: rgb(253, 253, 252);
   
    padding-right:1.4em;
padding-top:1.7em;
    height: 100%;
   width: 100%;
    text-align: center;

  
  
  }
  a{
    line-height: 2.6em;
   width:100%;
    color:rgb(168, 154, 145);
    font-size: 1.7em;
    font-family: newFont2;
    position: relative;
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
  }
  .modal-container{
    position: relative;
    overflow: auto;
 
   
    z-index: 3;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  
  opacity:0;
  pointer-events: none;
  
  transition: opacity 0.3s ease;
 
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  }

  .modal-container.show{
    opacity:1;
    pointer-events: auto;
    
  }


  



}

@media screen and (min-width:761px){

.myImages{
  margin:6px 0px;

}
.modal-content {
margin-left:20px;
  max-width: 90%;
}
.row{
  margin: 0 2%;
  
}
  .left{margin-right: 14px;
    width: 49%;
  }
 .right{
  width: 49%;
 }
 .modal2{
  
  padding-top: 20px;
    /* Enable scroll if needed */
    background-color: rgb(218, 214, 211);

    /* Fallback color */
    background-color: rgb(218, 214, 211);

    /* Black w/ opacity */
 }
 .close2 {
  position: absolute;
    font-size: 50px;
    color: #838282;
    cursor: pointer;
    top:10px;
    right:22px;
}







 
  .modal-container{
    display: none;
}
button{
  display: none;
}
.navigation a.active {
    border-radius: 2px;
    color: rgb(255, 255, 255);
  }
  .navigation{
    text-align: center;
    padding: 20px 0px ;
    overflow:hidden;
   
    font-family:newFont2;
}
.navigation a{
    color: rgb(153, 132, 118);
    position: relative;
   
   line-height: 2em;
   padding: 3px 15px;
    text-decoration: none;
}
.navigation a:hover{
  transition: ease-in 0.3s;
  background-color: rgba(255, 255, 255, 0.411);
  
  color: rgb(170, 158, 148);
  border-radius: 4px;
}


}

@media only screen and (min-width: 1650px){
  .row{
    margin: 0 18%;
    
  }
    .left{margin-right: 14px;
      width: 49%;
    }
   .right{
    width: 49%;
   }

   .close2 {
    position: absolute;
      font-size: 60px;
      color: #b8b8b8;
      cursor: pointer;
      top: 4px;
      right: 120px;
  }

  .modal2{
    padding-top: 20px;
   
   }
   .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 80%;
  }
  ::-webkit-scrollbar {
    display: none;
}








}

